<div class="container">
  <h1 class="title">
    {{ 'PAGES.HOME.TITLE' | translate }}
  </h1>
  <div class="Block">
    <label id="lbl">Code </label>
    <input type='file' (change)="fileChanged($event)">
  </div>

  <div class="Block">
    <label id="lbl">Variaveis</label>
    <input type='file' (change)="jsonChanged($event)">
  </div>

  <table *ngIf="loaded == true">
    <thead>
      <tr>
        <th>Cliente</th>
        <th *ngFor="let vari of variables">
          {{ vari.key }}
        </th>
        <th><button (click)="newVar()">Nova var</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients" [formGroup]="group[client.name]">
          <td>{{client.name}}</td>
          <td *ngFor="let vari of variables">
            <!-- <input type="text" [(Model)]="client.variables[]" -->
            <input type="text" [formControlName]="vari.key" />
            <!-- {{getValue(client.variables, vari)}} -->
          </td>
          <td><button (click)="saveItem(client, group[client.name])">Save</button></td>
      </tr>
      <tr>
        <td><button>Novo cliente</button></td>
      </tr>
    </tbody>
  </table>
</div>
